<div class="form-group mb-3">
  <label for="allrooms" class="form-label">Room</label>
  <select
    class="form-select"
    name="allrooms"
    id="allrooms"
    [(ngModel)]="select_room"
  >
    <option [ngValue]="null">Select a room</option>
    <option *ngFor="let room of res" [ngValue]="room">
      {{ room.room_name }} - {{ room.description }}
    </option>
  </select>
</div>

<div class="form-group mb-3">
  <label for="allusers" class="form-label">User (Optional)</label>
  <select
    class="form-select"
    name="allusers"
    id="allusers"
    [(ngModel)]="selectedUser"
  >
    <option [ngValue]="username" selected>You({{ username }})</option>
    <option *ngFor="let user of users" [ngValue]="user">
      {{ user }}
    </option>
  </select>
  <small class="form-text">Select another user if needed</small>

  <input
    type="text"
    id="optionuser"
    name="optionuser"
    class="form-control mt-2"
    placeholder="Only to join as other user"
    [(ngModel)]="username"
    [disabled]="!selectedUser"
  />
</div>

<button
  class="btn btn-primary mb-3"
  type="submit"
  (click)="handleCardDate()"
  [disabled]="loading"
>
  <span
    *ngIf="loading"
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  ></span>
  <span *ngIf="!loading">Join Room</span>
</button>
