<div class="d-flex flex-column">
  <app-form-area></app-form-area>

  <div *ngFor="let res of responseMrbs" class="card mx-auto">
    <div class="card-body">
      <h3 class="card-title">Edit {{ res.area_name }} (ID: {{ res.id }})</h3>

      <button
        class="btn btn-primary mb-3"
        (click)="deleteSelectedArea(res.area_name, res.id)"
        [disabled]="loading"
      >
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        Delete Area
      </button>

      <div class="table-responsive-lg">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th>Room</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of res.rooms">
              <td>
                {{ room.room_name }}
                <button
                  class="btn btn-primary mb-3"
                  (click)="deleteSelectedRoom(room.room_name, room.id)"
                  [disabled]="loading"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  Delete Room
                </button>
              </td>
              <td>
                {{ room.description }}<br />
                Workspaces: {{ room.capacity }} | Usable:
                {{ room.registration_limit }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-form-room [areaId]="res.id"></app-form-room>
    </div>
  </div>
</div>
